.home-top-row {
  margin-top: 30px;
}
.home-mid-row {
  height: 80vh;
  margin-top: 10px;
}
.left-panel {
  border-right: solid black 1px;
  background-color: #fafafa;
}
.right-panel {
  background-color: #fafafa;
}
