.form-container {
  background-color: white;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
  padding: 5rem;
  padding-bottom: 10rem;
}

.loading-img {
  animation: infinite slideRight 8s;
  &--1 {
    animation-delay: 0s;
  }
  &--2 {
    animation-delay: 2s;
  }
  &--3 {
    animation-delay: 4s;
  }
}
.poke-container {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@keyframes slideRight {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-100vw, 0%);
  }
  51% {
    transform: translate(100vw, 0%);
  }
  100% {
    transform: translate(-20%, 0%);
  }
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 90vw;
  }
}
