* {
  box-sizing: border-box;
  font-family: "Press Start 2P";
}
body {
  background-color: #ffde00;
  overflow-x: hidden;
}
.main-container {
  position: absolute;
  margin-left: 20%;
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin-left: 0%;
  }
}
